@model IEnumerable<WebApp3.Models.Movie>
@{
    ViewBag.Title = "Movie Database";
}

<div>
    <h1 style="text-align:center;">Movie Database</h1>
</div>
<div>
    <table id="movieTable">
        <thead>
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Year</th>
                <th>Director</th>
                <th>Rating</th>
                <th>Edited</th>
                <th>Lent To</th>
                <th>Notes</th>
            </tr>
        </thead>

        <tbody>
            @foreach (WebApp3.Models.Movie movie in Model)
            {
                if (movie.Title != "Independence Day")
                {
                    <tr>
                        <td>@movie.Category</td>
                        <td>@movie.Title</td>
                        <td>@movie.Year</td>
                        <td>@movie.Director</td>
                        <td>@movie.Rating</td>
                        <td>@if (movie.Edited == true)
                        {
                            @:Yes
                        } else
                        {
                            @:No
                        }
                        </td>
                        <td>
                            @if (System.String.IsNullOrEmpty(movie.LentTo))
                            {
                                @:N/A
                            }
                            else
                            {
                                @:@movie.LentTo
                            }
                        </td>
                        <td>
                            @if (System.String.IsNullOrEmpty(movie.Notes))
                            {
                                @:N/A
                            }
                            else
                            {
                                @:@movie.Notes
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
